body {
  background-color: ivory;
  width: 80vw;
  overflow-x: hidden;
}

html {
  font-family: 'Arimo', sans-serif;
}
a {
  text-decoration: none;
}

.hidden {
  display:none;
}
.turnleft {
  transition-duration: 2s;
  transform: rotate(.25turn);
}
.turnright {
  transition-duration: 2s;
  transform: rotate(-.25turn);
}
.visible {
  transition-duration: 1s;
  visibility: visible;
  opacity: 1;
}
.invisible {
  transition-duration: 1s;
  visibility: hidden;
  opacity: 0;
}

#game-info {
  font-family: 'PT Serif', serif;
  position:absolute;
  top: 825px;
  left: 750px;
}

#game-title-header {
  width:50%;
  position:relative;
  font-size:40px;
  font-family: 'PT Serif', serif;
  left: 725px;
}

#game-info a {
  text-decoration:none;
  font-weight: 700;
  color: #283287;
}

#gear, #speaker, #speaker-mute, #info {
  width: 20px;
  height: 20px;
  cursor:pointer;
  position:absolute;
  top: 100px;
  left:1200px;
}

#speaker, #speaker-mute {
  top:130px;
}
#info {
  top: 160px;
}

#game-menu-modal, #game-over-modal, #game-info-modal {
  border: 2px solid blue;
  position:absolute;
  z-index:4;
  top: 100px;
  left:600px;
  width:581px;
  height:575px;
  cursor: default;
  background-color: white;
}
#game-info-modal {
  z-index: 5;
  background-color:#99C4EE;
}
#landing, #air {
  position:absolute;
  border:3px solid black;
  left:-1px;
}
#landing {
  left:289px;
}
#game-info-modal div {
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  position: relative;
}
#goal, #tip1, #tip2 {
  position:absolute;
}
#goal {
  left:197px;
  top:321px;
  font-size:22px;
  color:brown;
}
#tip1, #tip2 {
  display:inline-block;
  left: 30px;
}
#tip2 {
  left: 100px;
}
#up, #down {
  top: 307px;
  left: 185px;
}
#down {
  top: 450px;
}
#left, #right {
  top: 420px;
  display:inline-block;
  left: 5px;
}
#right {
  display:inline-block;
  left: 250px;
}
#keys {
  position: absolute;
  top: 340px;
  left:169px;
}

#title {
  position:relative;
  bottom:500px;
  left:225px;
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  color: #283287;
}

#contact-buttons-outer {
  position: absolute;
  height: 44px;
  width: 140px;
  top:770px;
  left:825px;
}

#contact-buttons-inner a {
  width: 80px;
  height: 100px;
}

#contact-buttons-inner img {
  height: 40px;
  width: 40px;
}
#contact-buttons-inner #ln {
  position:relative;
  top:2px;
}
#contact-buttons-inner #mailer {
  width: 46px;
}

#start-game-button {
  position:relative;
  left: 190px;
  bottom: 30px;
  border: 1px solid blue;
  width: 175px;
  text-align: center;
  font-size: 26px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

#nice-run {
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: #283287;
  font-size: 36px;
}

#gameOverInnerDiv {
  width: 60%;
  margin: 0 auto;
  padding: 5px;
}

#fs, #hj {
  padding-top: 20px;
  font-size: 20px;
}
#play-again-button {
  cursor: pointer;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 10px;
  width: 60%;
  margin: 30px auto;
  text-align: center;
  font-size: 26px;
  font-family: 'Anton', sans-serif;
  color: #283287;
}

#game-canvas {
  position:absolute;
  z-index: 1;
  left:600px;
  top:150px;
  border: 5px solid black;
}
#whale-canvas {
  top:385px;
  left:840px;
  position:relative;
  z-index:2;
}
#timer, #score {
  position:fixed;
  display:inline-block;
  top: 650px;
  left:660px;
  z-index: 3;
  font-family: 'Padauk', sans-serif;
  color: yellow;
}
#score {
  left: 1050px;
}
#announcements {
  position: fixed;
  display: block;
  top: 625px;
  left: 850px;
  z-index: 3;
  font-family: 'Padauk', sans-serif;
  color: yellow;
  letter-spacing: 1.5px;
  max-width: 150px;
}
