body {
  background-color: ivory;
  width: 100vw;
  overflow-x: hidden;
}

html {
  font-family: 'Arimo', sans-serif;
}

.hidden {
  display:none;
}

#game-menu-modal, #game-over-modal {
  border: 2px solid blue;
  position:absolute;
  z-index:4;
  top: 100px;
  left:300px;
  width:575px;
  height:575px;
  cursor: default;
  background-color: white;
}

#title {
  position:relative;
  bottom:500px;
  left:225px;
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  color: #283287;
}

#start-game-button {
  position:relative;
  left: 30px;
  bottom: 30px;
  border: 1px solid blue;
  width: 175px;
  text-align: center;
  font-size: 26px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

#nice-run {
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: #283287;
  font-size: 36px;
}

#gameOverInnerDiv {
  width: 60%;
  margin: 0 auto;
  padding: 5px;
}

#fs, #hj {
  padding-top: 20px;
  font-size: 20px;
}
#play-again-button {
  cursor: pointer;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 10px;
  width: 60%;
  margin: 30px auto;
  text-align: center;
  font-size: 26px;
  font-family: 'Anton', sans-serif;
  color: #283287;
}

#game-canvas {
  position:absolute;
  z-index: 1;
  left:300px;
  top:150px;
  border: 5px solid black;
}
#whale-canvas {
  top:385px;
  left:540px;
  position:relative;
  z-index:2;
}
#timer, #score {
  position:absolute;
  top: 650px;
  left:350px;
  z-index: 3;
  font-family: 'Padauk', sans-serif;
  color: yellow;
}
#score {
  left: 740px;
}
#announcements {
  position: absolute;
  top: 625px;
  left: 568px;
  z-index: 3;
  font-family: 'Padauk', sans-serif;
  color: yellow;
  letter-spacing: 1.5px;
  max-width: 150px;
}
