body {
  background-color: yellow;
}

.hidden {
  display:none;
}

#game-menu-modal, #game-over-modal {
  position:absolute;
  z-index:4;
  left:300px;
  right:300px;
  bottom:0;
  top:0;
  background-color: white;
}

#game-canvas {
  position:absolute;
  z-index: 1;
  left:300px;
}
#whale-canvas {
  top:385px;
  left:540px;
  position:relative;
  z-index:2;
}
#timer {
  position:absolute;
  top: 400px;
  left:150px;
  z-index: 3;
}
#score {
  position: absolute;
  top: 400px;
  left: 940px;
  z-index: 3;
}
#announcements {
  position: absolute;
  top: 550px;
  left: 568px;
  z-index: 3;
  max-width: 150px;
}
